
         .btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
      body{
          font-family: Comic Sans MS;
          text-align: center;
      }
          
      .login_div1{
        background: linear-gradient(90deg, rgba(75,180,58,1) 0%, rgba(14,224,17,1) 8%, rgba(48,175,73,1) 18%, rgba(44,197,56,1) 24%, rgba(1,255,0,1) 32%, rgba(46,222,46,1) 35%, rgba(41,221,37,1) 37%, rgba(15,245,42,1) 40%, rgba(58,238,88,1) 41%, rgba(33,236,66,1) 43%, rgba(13,231,67,1) 45%, rgba(31,246,102,1) 47%, rgba(29,253,58,1) 50%, rgba(16,225,19,1) 56%, rgba(57,253,38,1) 61%, rgba(14,204,43,1) 68%, rgba(33,178,48,1) 73%, rgba(21,204,25,1) 80%, rgba(30,214,25,1) 84%, rgba(34,187,16,1) 90%, rgba(110,252,69,1) 100%);
      }

      .login_div2{
        background: linear-gradient(90deg, rgba(0,190,255,1) 0%, rgba(41,152,233,1) 8%, rgba(61,180,222,1) 12%, rgba(48,144,220,1) 21%, rgba(38,170,218,1) 28%, rgba(31,153,216,1) 34%, rgba(23,162,214,1) 40%, rgba(22,134,211,1) 42%, rgba(20,152,210,1) 49%, rgba(17,121,208,1) 57%, rgba(13,164,224,1) 67%, rgba(19,183,226,1) 75%, rgba(22,143,227,1) 79%, rgba(26,180,228,1) 84%, rgba(33,80,230,1) 93%, rgba(25,64,228,1) 100%);
      }

      .login_div1 , .login_div2{
          border-radius: 15px;
          height: 200px;
          width: 600px;
          border-color: black;
          border-style: solid;
          border-width: 2px;
          float: none;
      }

      
      .btn-grad1 {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
      .btn-grad1 {
         margin: 10px;
         padding: 15px 45px;
         text-align: center;
         text-transform: uppercase;
         transition: 0.5s;
         background-size: 200% auto;
         color: white;            
         box-shadow: 0 0 20px #eee;
         border-radius: 10px;
         display: block;
       }

       .btn-grad1:hover {
         background-position: right center; /* change the direction of the change here */
         color: #fff;
         text-decoration: none;
       }

       #output {
        background:  white;
        border-radius: 10px;
        border-top: 10px solid blue;
        padding: 10px;
        float: none;
       }

       #quiz_game_page {
        background: linear-gradient(90deg, rgba(0,190,255,1) 0%, rgba(41,152,233,1) 8%, rgba(61,180,222,1) 12%, rgba(48,144,220,1) 21%, rgba(38,170,218,1) 28%, rgba(31,153,216,1) 34%, rgba(23,162,214,1) 40%, rgba(22,134,211,1) 42%, rgba(20,152,210,1) 49%, rgba(17,121,208,1) 57%, rgba(13,164,224,1) 67%, rgba(19,183,226,1) 75%, rgba(22,143,227,1) 79%, rgba(26,180,228,1) 84%, rgba(33,80,230,1) 93%, rgba(25,64,228,1) 100%);
       }